# --- Custom Project Files ---
backend/.env
backend/thinkbeforeclick.db
backend/app/ml/dataset/*
!backend/app/ml/dataset/.gitkeep
backend/app/ml/model/*
!backend/app/ml/model/.gitkeep

# --- Python & Virtual Environments ---
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.venv/
venv/
env/
ENV/

# --- Web & Node ---
node_modules/
*.log
npm-debug.log*

# --- IDEs & Code Editors ---
.vscode/
.idea/
*.swp

# --- System specific ---
Thumbs.db
Desktop.ini
.DS_Store